.gridcontainer{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-template-rows: minmax(100px, auto);
}

.gridItem{
    background-color: #b2ff9e;
    display: flex;
    justify-content: space-evenly;
    height: 30px;
    align-items: center;
    
}

.container{
    display:flex;
    justify-content: space-evenly;

}

.column{
    display:flex;
    flex-direction: column;
    background-color: #b2ff9e;
    width: 200px;
    padding: 5px;
}

.title{
    font-weight: bolder;
    font-size: large;
    text-align: center;
    padding: 5px;
}

.leftArrow{
    width: 20px;
    position: relative;
    display: inline-block;
    height: 20px;
    background-color: black;
    color: white;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
}

.leftArrow:before{
    content:"<"
}

.rightArrow{
    width: 20px;
    position: relative;
    display: inline-block;
    height: 20px;
    background-color: black;
    color: white;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
}

.rightArrow:after{
    content:">"
}

.deleteButton{
    font-size: xx-small;
    font-weight: bold;
    background-color: #affc41;
    border:none;
}